
 <div ng-controller="MainCtrl">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content"  bind-html-unsafe="selectedVideo.code">
          {{selectedVideo.code}}
      </div>
    </div>
  </div>


  <span class="glyphicon glyphicon-search" 
        aria-hidden="true" 
        onclick="document.getElementById('video-filter-input').focus()">

    <input type="text" 
           id="video-filter-input" 
           ng-model="searchText">
  
  </span>

  <div class='container' style="text-align:center; margin-top:5em;">
      <a href=""><h3>home</h3></a>
      <a href=""><h3>browse</h3></a>
      <a href=""><h3>subscriptions</h3></a>
  </div>

  <div style='margin-left:20px' class="row">

    <div class="col-md-3 video-container" ng-repeat="video in videos | filter:searchText">
      <a data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="select($index)">
        <img class='thumbnails' src="{{video.thumbnail}}">
        <p style='color:gray'>{{video.title}}</p>
      </a>
    </div>
  </div>
 </div>
a